/* Entire Settings Page */
body {
  background: url(../img/Background/LandingPage.jpg) top center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* PFP Styling */

/*************** Header ***************/

header h2 {
  font-family: "Rokkitt", serif;
  color: darkgrey;
  padding-left: 15px;
}

header span {
  color: orange;
}


header .back-settings {
  background-color: orange;
  margin-top: 10px;
  font-weight: 600;
  color: black;
}

header .back-settings:hover {
  background-color: #cc6600;
}

header .back-settings:focus{
  background-color: #cc6600;
}

header p {
  color: white;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 5px;
}

.reveal {
  background-color: orange;
  color: black;
  outline: none;
}

#cancelBtn, #continueBtn {
  margin-top: 20px;
  background-color: #404040;
  font-weight: 600;
  color: white;
}

#cancelBtn:hover, #continueBtn:hover {
  background-color: #cc6600;
}


/*************** Main ***************/
main {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20px auto;
}

/*************** Tabs ***************/
#example-tabs {
  border: none;
}

.tabs {
  background-color: transparent;
}

.tabs a {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.tabs-title > a:hover,
.tabs-title > a:focus {
  background-color: rgba(255, 255, 255, 0.85);
  color: rgb(77, 77, 77);
}

.tabs-title > a[aria-selected="true"] {
  background-color: rgba(255, 255, 255, 0.75);
  color: rgb(56, 56, 56);
}

.tabs-title:not(.is-active) {
  background-color: rgba(78, 78, 78, 0.75);
}

/*************** Tab Panels ***************/
.tabs-content {
  border: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.tabs-panel {
  margin: 0px;
  padding: 10px;
  color: white;
}

.dayDiv {
  background-color: rgba(80, 80, 80, 0.9);
  margin-top: 30px;
  padding: 10px;
}

.dayTitle {
  display: flex;
  justify-content: center;
}

.dayDiv h4 {
  background-image: linear-gradient(orange, rgb(194, 126, 0));
  font-family: "Rokkitt", serif;
  font-size: 24px;
  transform: translateY(-25px);
  padding: 1px 70px 2px 70px;
  border-radius: 2px;
}

div[state="true"] {
  background-color: orange;
}

div[state="false"] {
  background-color: rgba(80, 80, 80, 0.9);
}

/*************** Workout div (exercise name, reps, image, description) ***************/
.exerciseNameDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.exerciseName {
  border: 2px solid orange;
  padding: 3px 6px 5px 5px;
  display: inline-block;
  font-size: 20px;
}

.exerciseReps {
  margin-left: 20px;
  font-size: 18px;
}

.exerciseDescDiv {
  display: flex;
  flex-direction: row;
}

.exerciseDescDiv img {
  border-radius: 5px;
  width: 20%;
}

.exerciseDesc {
  margin-left: 10px;
  font-size: 16px;
}

/*************** Checkbox ***************/
.checkbox {
  display: flex;
  justify-content: flex-end;
}

.checkbox label {
  color: white;
  font-size: 12px;
  display: flex;
  padding-top: 2px;
}

[type="checkbox"] {
  margin: 5px 0px;
  transform: scale(1.5);
}
